{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '3rd_party/paginationjs/css/pagination.css' %}" />

    <div class="ui main text container">

        <div class="parent_div">  
            <div class="complaintsdiv">
                <h3 class="ui dividing header">Terminos y condiciones de uso</h3>
                <h5>Establezca los terminos legales de la aplicación, los mismos tendran efectividad una vez guarde los cambios.</h5>
                <div class="div_overflow">

                    <form class="ui form">
                        <div class="field">
                            <label>Terminos y condiciones de uso</label>
                            <textarea type="text" name="termsobj" class="termsobj" placeholder="Introduzca los terminos de uso de la aplicación..."></textarea>
                        </div>
                        <div class="field">
                            <label>Politicas de privacidad</label>
                            <textarea type="text" name="policyobj" class="policyobj" placeholder="Introduzca las politicas de privacidad de la aplicación..."></textarea>
                        </div>
 
                        <button class="ui button saveobj" type="button">Editar</button>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{% static '3rd_party/alertify/js/alertify.js' %}"></script>
    <script type="text/javascript" src="{% static 'client/js/termofuse.js' %}"></script>
    <script type="text/javascript" src="{% static '3rd_party/paginationjs/js/pagination.min.js' %}"></script>

{% endblock %}